.products {
    background-color: bisque;
    // display: flex;
    // flex-wrap: wrap;
    max-width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 1rem;
}
