.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ac603d;
    color: white;

    &__logo {
        padding: 10px;
        font-size: 28px;
        margin-left: 20px;
    }

    &__menu {
        a {
            padding: 20px;
            color: white;
            font-size: 18px;
        }
        a:hover {
            transition: 1s;
            background-color: rgb(66, 9, 9);
            border-radius: 50%;
        }
    }

    &__icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 70px;
        i {
            font-size: 36px;
            padding: 5px;
        }

        &_el {
            display: flex;
            align-items: center;
            margin: 0px 15px;
        }
    }
}
